header {
    border-bottom: 2px solid #999;
    background-color: black;
}

body {
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%
  }   

header h1 a {        
    color: #a67c00; 
    }

.leftside {
   
}
.rightside {
    
    
}