header h1 a {        
    color: #a67c00; 
    }

    ul li {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2em;
        font-weight: bold;
    
    }