header h1 a {        
    color: #a67c00; 
    }

    
header {
    border bottom: 1px solid #999;
    border margin: 2rem;
    display flex;
}

ul h2  {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;

}