{% load static %}
<html>
    <head>
        <title>THE BLOG</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/png" href="https://img.icons8.com/windows/32/000000/year-of-dog.png">
        <link href="https//fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    </head>
    <body>
        <script src="{% static 'js/image-trail.js' %}"></script>
        
        <header>
            <div class="rightside">
            <h1><a href="{% url 'home' %}"><center>CT'S BLOG</center></a></h1> 
            </div> 
            <div class="leftside">
            <h1><a href="{% url 'post_new' %}"><button>Add A New Post</button>
            </a></h1>  
            </div>  
        </header>

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>

</html>